.mainIndex {

    /* inicio titulo vive la magia de Uruguay*/

    .titulo1 {
        background-color: rgba(0, 255, 255, 0);
        font-size: 60px;
        color: darkblue;
    }

    @media (min-width: 370px) and (max-width: 768px) {

        .titulo1 {
            color: #0f25e6;
            font-size: 20px;
            font-weight: bolder;
        }
    }

    /*fin vive la magia de uruguy*/ 
    .texto-animado {
        animation: mover 10s ease infinite alternate ;
        position: fixed;
        left: 0;
        bottom: 200px;
        transform: translateX(-100%);
    }
    
    @keyframes mover {
        0%, 100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(calc(100vw - 100%));
        }
    }
    @media (min-width: 370px) and (max-width: 768px){

        .texto-animado {
            animation: mover 10s ease infinite alternate ;
            position: fixed;
            left: 0;
            bottom: 400px;
            transform: translateX(-100%);
        }
    }

    .p-subtitulo {
        /*inicio subtitulo tu escape al paraiso*/
        background-color: rgba(255, 127, 80, 0);
        font-size: 45px;
    }

    @media (min-width: 370px) and (max-width: 768px) and (max-width:1200px) {

        .p-subtitulo {
            color: #ffffffe8;
            font-size: 20px;
        }
    }

    
    .linkContactanos {
        /* link contacto inicio*/
        background-color: rgb(34, 31, 236);
        color: white;
        text-decoration: none;
        border: 3px solid rgb(62, 17, 187);
        $border-radius: 10px;
        height: 50px;
        width: 190px;
        display: inline-block;
        text-align: center;
        align-items: center;
        padding: 8px;
        margin-left: 50px;
        align-items: center;
        font-size: 20px;
        margin-top: 30px;

        &:hover {
            background-color: #d320d3;
        }
    }

    @media (min-width: 370px) and (max-width: 768px) and (max-width:1200px) {
        .linkContactanos {
            margin-top: 10px;
        }
    }


    .subtituloTarjetas {
        background-color: rgba(0, 255, 255, 0);
        padding-top: 40px;
        padding-bottom: $t-30px;
        color: #3726d3;
        font-size: $t-60px;
        font-weight: bold;
    }

    @media (min-width: 370px) and (max-width: 768px) and (max-width:1200px) {
        .subtituloTarjetas {
            font-size: 40px;

        }
    }


    .card-text {
        background-color: rgba(207, 23, 198, 0);
        text-align: justify;


    }

    :root {
        --max: 30rem
    }

    body {
        margin: 0;
        padding: 0;
        min-height: 100%
    }

    .card {
        width: var(--max)
    }

    .card-img-top {
        $t-100por: 100%;
        max-width: var(--max);
        height: calc(var(--max));
        object-fit: cover;
        padding-top: $t-10px;


    }


}