.mainTienda {

  background-color: rgba(0, 255, 255, 0);

  .tituloTienda {
    font-size: 60px;
    padding-top: 100px;
    color: rgb(18, 18, 231);
  }

  @media (min-width: 370px) and (max-width: 768px) and (max-width:1200px) {
    .tituloTienda {
      font-size: 30px;
      padding-top: 10px;
    }
  }

  .linkContactanos {
    background-color: rgb(34, 31, 236);
    color: white;
    text-decoration: none;
    border: 3px solid rgb(62, 17, 187);
    $border-radius: 10px;
    height: 50px;
    width: 190px;
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 8px;
    margin-left: 40px;
    font-size: 20px;
    justify-content: center;

    &:hover {
      background-color: #d320d3;
    }
  }
}

@media (min-width: 370px) and (max-width: 768px) and (max-width:1200px) {
  .linkContactanos {
    margin-right: 60px;
    width: 150px;
    height: 30px;
    font-size: 16px;
    padding: 2px;
    background-color: rgba(35, 35, 230, 0.075);
    justify-content: center;
    padding-top: 10PX;
   }
 }

  /* subtitulo lleva Uruguay contigo*/
  .subtituloTienda {
    background-color: #eb1ab700;
    color: rgb(15, 37, 233);
    align-items: center;
    padding: 30px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;

    margin-top:20px;
  }

.subtitulo {
  /*subtitulo gorras y libreria*/
  font-size: 3rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  background-color: #0e2ddbad;

}

/*cards de tienda*/
.card-img-top {
  background-color: #f9f9f900;
  padding: 20px 20px;
  margin-right: 20px;
  box-shadow: 0 4px 4px rgba(11, 25, 223, 0.671);
}

.card-title {
  font-size: 30px;
  align-items: center;
  padding-bottom: 10px;
}

.botonComprar {
  background-color: rgb(34, 37, 223);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(62, 17, 187);
  $border-radius: 10px;
  height: 50px;
  width: 50px;
  align-items: center;
  padding: 8px;
  margin-top: 15px;
  margin-left: 120px;
  font-size: 20px;
  margin-right: 100px;

  &:hover {
    background-color: #d320d3;
  }
}

@media (min-width: 370px) and (max-width: 768px) and (max-width:1200px) {
  .botonComprar {
    justify-content: center;
    margin-left:18px;
  }
}