h1 {

    color: #61677A;
    text-align: center;
    font-size: $t-60px;
    padding-top: $t-30px;
}

h2 {
    font-size: 60px;
    size: 2rem;
    $color-primario: #180a99;
    text-align: center;
}

h3 {
    color: #171718;
    font-size: 24px;
    text-align: center;
}

h4 {
    font-size: 23px;
    color: #FFF6E0;
}

p {
    
$tipografia-general: roboto sans serif;
    $color-texto: #110e0e;
   
}