

$color-primario: #180a99;
$color-secundario:aliceblue;
$color-border:2px solid white ;
$fuente-normal: 1em;
$fuente-pequeña: 0.8;
$fuente-grande: 1.4em; 
$tipografia-general: roboto sans serif;
$font-family:sans-serif;

$t-10px:10px;

$t-30px:30px;
$t-40px:40px;
$t-60px:60px;
$t-100por:100%;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);