* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h1 {
  color: #61677A;
  text-align: center;
  font-size: 60px;
  padding-top: 30px;
}

h2 {
  font-size: 60px;
  size: 2rem;
  text-align: center;
}

h3 {
  color: #171718;
  font-size: 24px;
  text-align: center;
}

h4 {
  font-size: 23px;
  color: #FFF6E0;
}

header {
  background-color: black;
}
header logo {
  width: 144px;
}

.mainIndex {
  /* inicio titulo vive la magia de Uruguay*/
  /*fin vive la magia de uruguy*/
}
.mainIndex .titulo1 {
  background-color: rgba(0, 255, 255, 0);
  font-size: 60px;
  color: darkblue;
}
@media (min-width: 370px) and (max-width: 768px) {
  .mainIndex .titulo1 {
    color: #0f25e6;
    font-size: 20px;
    font-weight: bolder;
  }
}
.mainIndex .texto-animado {
  animation: mover 10s ease infinite alternate;
  position: fixed;
  left: 0;
  bottom: 200px;
  transform: translateX(-100%);
}
@keyframes mover {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - 100%));
  }
}
@media (min-width: 370px) and (max-width: 768px) {
  .mainIndex .texto-animado {
    animation: mover 10s ease infinite alternate;
    position: fixed;
    left: 0;
    bottom: 400px;
    transform: translateX(-100%);
  }
}
.mainIndex .p-subtitulo {
  /*inicio subtitulo tu escape al paraiso*/
  background-color: rgba(255, 127, 80, 0);
  font-size: 45px;
}
@media (min-width: 370px) and (max-width: 768px) and (max-width: 1200px) {
  .mainIndex .p-subtitulo {
    color: rgba(255, 255, 255, 0.9098039216);
    font-size: 20px;
  }
}
.mainIndex .linkContactanos {
  /* link contacto inicio*/
  background-color: rgb(34, 31, 236);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(62, 17, 187);
  height: 50px;
  width: 190px;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 8px;
  margin-left: 50px;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
}
.mainIndex .linkContactanos:hover {
  background-color: #d320d3;
}
@media (min-width: 370px) and (max-width: 768px) and (max-width: 1200px) {
  .mainIndex .linkContactanos {
    margin-top: 10px;
  }
}
.mainIndex .subtituloTarjetas {
  background-color: rgba(0, 255, 255, 0);
  padding-top: 40px;
  padding-bottom: 30px;
  color: #3726d3;
  font-size: 60px;
  font-weight: bold;
}
@media (min-width: 370px) and (max-width: 768px) and (max-width: 1200px) {
  .mainIndex .subtituloTarjetas {
    font-size: 40px;
  }
}
.mainIndex .card-text {
  background-color: rgba(207, 23, 198, 0);
  text-align: justify;
}
.mainIndex :root {
  --max: 30rem ;
}
.mainIndex body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.mainIndex .card {
  width: var(--max);
}
.mainIndex .card-img-top {
  max-width: var(--max);
  height: calc(var(--max));
  object-fit: cover;
  padding-top: 10px;
}

.mainViaje {
  /*inicio link contacto*/
  /* cards*/
}
.mainViaje .tituloViaje {
  /*titulo tu viaje*/
  color: blue;
  font-size: 60;
  font-weight: bold;
  font-size: 60px;
  padding-top: 100px;
}
@media (min-width: 370px) and (max-width: 768px) {
  .mainViaje .tituloViaje {
    font-size: 30px;
    padding-top: 10px;
  }
}
.mainViaje .linkContactanos {
  background-color: rgb(34, 31, 236);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(62, 17, 187);
  height: 50px;
  width: 190px;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 8px;
  margin-left: 630px;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
}
.mainViaje .linkContactanos:hover {
  background-color: #d320d3;
}
@media (min-width: 370px) and (max-width: 768px) and (max-width: 1200px) {
  .mainViaje .linkContactanos {
    margin-left: 80px;
    margin-top: 0px;
    width: 150px;
    height: 30px;
    font-size: 16px;
    padding: 2px;
    background-color: rgba(35, 35, 230, 0.295);
    justify-content: center;
  }
}
.mainViaje .subtituloViaje {
  /* escapate con nosotros a..*/
  margin-top: 30px;
  font-size: 40px;
  color: blue;
}
.mainViaje .botonComprar {
  background-color: rgb(34, 37, 223);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(62, 17, 187);
  border-radius: 10px;
  height: 50px;
  width: 50px;
  justify-content: center;
  padding: 8px;
  margin-top: 15px;
  margin-left: 220px;
  font-size: 20px;
  margin-bottom: 20px;
}
.mainViaje .botonComprar:hover {
  background-color: #d320d3;
}
@media (min-width: 370px) and (max-width: 768px) and (max-width: 1200px) {
  .mainViaje .botonComprar {
    margin-left: 20px;
    justify-content: center;
  }
}
.mainViaje :root {
  --max: 30rem ;
}
.mainViaje body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.mainViaje .card {
  width: var(--max);
}
.mainViaje .card-img-top {
  max-width: var(--max);
  height: calc(var(--max));
  object-fit: cover;
  padding-top: 10px;
}
.mainViaje .card-title {
  background-color: rgba(211, 32, 211, 0);
  padding-bottom: 18px;
  color: darkblue;
  font-weight: bold;
}
.mainViaje .card-text {
  padding-top: 18px;
  color: rgb(10, 10, 131);
  background-color: rgba(211, 32, 211, 0);
}

.mainTienda {
  background-color: rgba(0, 255, 255, 0);
}
.mainTienda .tituloTienda {
  font-size: 60px;
  padding-top: 100px;
  color: rgb(18, 18, 231);
}
@media (min-width: 370px) and (max-width: 768px) and (max-width: 1200px) {
  .mainTienda .tituloTienda {
    font-size: 30px;
    padding-top: 10px;
  }
}
.mainTienda .linkContactanos {
  background-color: rgb(34, 31, 236);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(62, 17, 187);
  height: 50px;
  width: 190px;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 8px;
  margin-left: 40px;
  font-size: 20px;
  justify-content: center;
}
.mainTienda .linkContactanos:hover {
  background-color: #d320d3;
}

@media (min-width: 370px) and (max-width: 768px) and (max-width: 1200px) {
  .linkContactanos {
    margin-right: 60px;
    width: 150px;
    height: 30px;
    font-size: 16px;
    padding: 2px;
    background-color: rgba(35, 35, 230, 0.075);
    justify-content: center;
    padding-top: 10PX;
  }
}
/* subtitulo lleva Uruguay contigo*/
.subtituloTienda {
  background-color: rgba(235, 26, 183, 0);
  color: rgb(15, 37, 233);
  align-items: center;
  padding: 30px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.subtitulo {
  /*subtitulo gorras y libreria*/
  font-size: 3rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid black;
  background-color: rgba(14, 45, 219, 0.6784313725);
}

/*cards de tienda*/
.card-img-top {
  background-color: rgba(249, 249, 249, 0);
  padding: 20px 20px;
  margin-right: 20px;
  box-shadow: 0 4px 4px rgba(11, 25, 223, 0.671);
}

.card-title {
  font-size: 30px;
  align-items: center;
  padding-bottom: 10px;
}

.botonComprar {
  background-color: rgb(34, 37, 223);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(62, 17, 187);
  height: 50px;
  width: 50px;
  align-items: center;
  padding: 8px;
  margin-top: 15px;
  margin-left: 120px;
  font-size: 20px;
  margin-right: 100px;
}
.botonComprar:hover {
  background-color: #d320d3;
}

@media (min-width: 370px) and (max-width: 768px) and (max-width: 1200px) {
  .botonComprar {
    justify-content: center;
    margin-left: 18px;
  }
}
.mainContactanos {
  background-color: rgba(0, 255, 255, 0);
}
.mainContactanos .titulo1 {
  padding-top: 40px;
  color: rgb(17, 21, 235);
  font-weight: bold;
  font-size: 50px;
}
@media screen and (min-width: 370px) and (max-width: 768px) and (max-width: 1200px) {
  .mainContactanos .titulo1 {
    font-size: 25px;
    padding-top: 0.5px;
  }
}
.mainContactanos form {
  background-color: rgba(0, 123, 255, 0.2196078431);
  width: 450px;
  height: 300px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 220px;
}
@media (min-width: 370px) and (max-width: 768px) {
  .mainContactanos .formulario {
    height: 400px;
    width: 380px;
    margin-left: 0;
    justify-content: flex-end;
  }
}
.mainContactanos .informacion {
  background-color: rgba(255, 0, 0, 0);
  color: #0011ff;
  padding-bottom: 30px;
  margin-top: 40px;
  padding-right: 60px;
}
@media (min-width: 370px) and (max-width: 768px) {
  .mainContactanos .informacion {
    font-display: 20px;
    margin-right: 100px;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    width: 240px;
  }
}
.mainContactanos label {
  display: block;
  margin-bottom: 10px;
}
.mainContactanos label .input {
  width: 100px;
}
.mainContactanos label:hover {
  background-color: #0056b3;
}
.mainContactanos button {
  justify-content: flex-end;
  top: 40px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 30px;
  margin-top: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.mainContactanos button:hover {
  background-color: #d320d3;
}

.mainNosotros {
  /*img de fondo*/
  /* titulo sobre nosotros*/
  /*uruguayando turismo uy*/
  /*testimonio titulo en recuadro azul*/
  /* testimonio (subtitulo)*/
  /*card testimonios*/
}
@media (min-width: 370px) and (max-width: 768px) and (max-width: 1250px) {
  .mainNosotros .mainNosotros {
    width: 340px;
  }
}
@media screen and (min-width: 370px) and (max-width: 768px) and (max-width: 1250px) {
  .mainNosotros .card-img {
    width: 380px;
    height: 220px;
    margin-left: 0 auto;
    background-color: aqua;
  }
}
.mainNosotros .titulo1 {
  padding-top: 220px;
  color: rgb(17, 21, 235);
  font-weight: bold;
  font-size: 40px;
}
@media (min-width: 370px) and (max-width: 768px) and (max-width: 1250px) {
  .mainNosotros .titulo1 {
    font-size: medium;
    margin-top: 20px;
    text-align: start;
    margin-left: 100px;
  }
}
.mainNosotros .linkContactanos {
  background-color: rgb(34, 31, 236);
  color: white;
  text-decoration: none;
  border: 3px solid rgb(62, 17, 187);
  height: 38px;
  width: 150px;
  display: inline-block;
  text-align: center;
  padding: 6px 6px;
  align-items: center;
  font-size: 15px;
  margin-top: 30px;
}
.mainNosotros .linkContactanos:hover {
  background-color: #d320d3;
}
@media (min-width: 370px) and (max-width: 768px) and (max-width: 1250px) {
  .mainNosotros .linkContactanos {
    background-color: rgba(34, 31, 236, 0.479);
    margin-top: 40px;
    align-items: center;
    height: 30px;
    width: 80;
    padding: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
  }
}
@media screen and (min-width: 370px) and (max-width: 768px) and (max-width: 1250px) {
  .mainNosotros .video {
    width: 300px;
    height: 200px;
    margin-left: 12px;
  }
}
.mainNosotros .subtituloHistoria {
  color: rgb(17, 21, 235);
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 50px;
}
@media screen and (min-width: 370px) and (max-width: 768px) and (max-width: 1250px) {
  .mainNosotros .subtituloHistoria {
    font-size: 20px;
    font-weight: normal;
    color: #d320d3;
    width: 230px;
    margin-left: 50px;
  }
}
.mainNosotros .parrafoHistoria {
  text-align: justify;
}
@media screen and (min-width: 370px) and (max-width: 768px) and (max-width: 1250px) {
  .mainNosotros .parrafoHistoria {
    width: 350px;
    font-size: 16px;
    text-align: left;
    padding-bottom: 20px;
  }
}
.mainNosotros .testimonios {
  font-size: 4rem;
  color: white;
  margin: 20px 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgba(40, 56, 145, 0.3137254902);
  height: 90px;
}
@media screen and (min-width: 370px) and (max-width: 768px) and (max-width: 1250px) {
  .mainNosotros .subtitulo {
    font-size: 40px;
    margin-bottom: 100px;
    margin-top: 20px;
    height: 90px;
    justify-content: flex-end;
    text-align: center;
  }
}
.mainNosotros .texto-testimonio {
  color: rgba(20, 10, 104, 0.733);
  text-align: start;
}

.footer {
  background-color: #03090e;
  height: 35vh;
  display: flex;
  align-items: stretch;
  padding-top: 25px;
  padding-bottom: 20px;
  gap: 20px;
}

/*# sourceMappingURL=style.css.map */
